.uploadassets{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    /* width: 100vw; */
}

.btn-upload{
    border: 2px solid rgba(0, 0, 0, 0.53);
    font-weight: 800;
    font-size: 1rem;
    background-color: red;
}

.btn-upload:hover{
    color: #F5F4E4;
}