.header{
    /* background: #F5F4E4; */
    background-color: hsl(0, 0%, 90%);
    font-size: 2rem;
    color: #454545;
}

.a{
    font-size: 1.4rem;
    transition: all 0.2s;
    color: #454545;
}

.header-link{
    font-size: 1.2rem;
    color: #454545;
}


.inline{
    display: inline;
}


.connect-btn{
    background-color: #00C389;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    color: #F5F4E4;
    font-size: 1rem;
    font-weight: 700;
    max-width: 2rem;
}